body {
  background-color: lightskyblue;
}

h1 {
  color: #0e9aa7;
}

h3 {
  color: #0e9aa7;
}

hr {
  border-style: dotted none none;
  width: 10%;
  border-color: lightgrey;
  border-width: 6px;
}
